<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tous mes appartements : </h1>
        <% @flats.each do |flat| %>
        <div class="card">
          <div class="card-img-top">

          </div>
          <div class="card-body">
            <div class="card-title">
              <%= flat.title %>
            </div>

            <div class="card-text">
              <%= flat.description %>
            </div>

            <div class="card-text">
              <%= link_to "Voir plus", flat_path(flat) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if policy(Flat).create? %>
        <%= link_to "Ajouter un nouvel appartement", new_flat_path %>
      <% end %>
    </div>
  </div>
</div>
